<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
</head>
<body class="grid-container">
    <header class="nav-header">
        <%- include('../partials/header') %>
    </header>

        <%- include('../partials/nav-bar') %>
    <main class="profile">
        <h1 style="font-size: 20px">Bienvenido! <%= user.first_name %>!</h1>
       <div class='profile-content-img'><img class='profile-img' src='/images/avatars/<%= user.image%>'></div> 
        <div class="msg-mail">Tu Mail</div>
        <div class="msg-user-mail"><%=user.email%></div>
<hr>
    <div class="profile-admin">
            <ul><h3>Tus datos</h3>
            <li><a class="item-profile" href="/users/edit/<%=user.id%>"><%= user.first_name%></li></a>
            <li><a class="item-profile" href="/users/edit/<%=user.id%>"><%= user.last_name%></li></a>
            <li><a class="item-profile" href="/users/edit/<%=user.id%>"><%= user.admin?"Admin":"Cliente"%></li></a>
        </ul>
        <% if(user.admin) { %>
            <ul><h3>Herramientas Admin</h3>
            <li><a class="item-profile" href="/users">Ver lista de Usuarios</a></li>
            <li><a class="item-profile" href="/products/table">Ver lista de Productos</a></li>
            <li><a class="item-profile" href="/products/create">Agregar Producto</a></li>
        </ul>
        <%}%>
    </div>
   
    </main>
    <footer class="nav-footer">
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>