<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Product list</title>
</head>
<body class="grid-container">
    <header class="nav-header">
        <%- include('../partials/header'); %>
    </header>

        <%- include('../partials/nav-bar') %>



    <main class="main-content">        
        <section class="section-login-container">
            <% if (locals.errors) { %>
                <% for (let oneError in errors) { %>
                    <p><%=errors[oneError].msg%></p>
                <% } %>
            <% } %>
            
                <form class="form-login" action="/users/register" method="POST" enctype="multipart/form-data">
                    <div class='div-formbox-user'>
                        <input name="firstName" placeholder="Nombre" type='text' class="input-user-name <%= locals.errors && errors.firstName ? 'is-invalid':null%>" value="<%= locals.oldData ? oldData.firstName : null %>" >
                        <i class="material-icons icon-login">perm_identity</i>
                    </div>
                    <% if (locals.errors && errors.firstName){ %>
                        <div class='text-danger'>
                            <%= errors.firstName.msg %>
                        </div>
                    <% } %>
                    <div class='div-formbox-user'>
                        <input class='input-user-name' name="lastName" placeholder="Apellido" type='text'>
                        <i class="material-icons icon-login">perm_identity</i>
                    </div>
                    <% if (locals.errors && errors.lastName){ %>
                        <div class='text-danger'>
                            <% errors.lastName.msg %>
                        </div>
                    <% } %>
                    <div class ='div-formbox-email'>
                        <input class='input-user-email' name="email" placeholder="Email" type='email'>
                        <i class="material-icons-outlined icon-login">email</i>
                    </div>
                    <% if (locals.errors && errors.email){ %>
                        <div class='text-danger'>
                            <% errors.email.msg %>
                        </div>
                    <% } %>
                    <div class ='div-formbox-phone'>
                        <input class='input-user-phone' name="phone" placeholder="Telefono" type='tel'>
                        <i class="material-icons-outlined icon-login">phone</i>
                    </div>
                    <% if (locals.errors && errors.phone){ %>
                        <div class='text-danger'>
                            <% errors.phone.msg %>
                        </div>
                    <% } %>
                    <div class ='div-formbox-password'>
                        <input class='input-user-pass' name="password" placeholder="Contraseña" type='password'>
                        <i class="material-icons-outlined icon-login">lock</i>
                    </div>
                    <% if (locals.errors && errors.password){ %>
                        <div class='text-danger'>
                            <% errors.password.msg %>
                        </div>
                    <% } %>
                    <br>
                    <div>
                        <label><b>Imagen de perfil</b></label>
                        <input name="avatar" type='file'>
                        <i class="fas fa-portrait"></i>
                    </div>
                    <br>
                    <div class="form-button-container">
                        <a href="/" class="link-form-button">Cancelar</a>
                        <button class="button-standar" type="submit" value="">Register</button>
                    </div>
                </form>
        </section>
    </main>

    <footer class="nav-footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>