<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Product list</title>
</head>
<body>
    <header class="nav-header">
        <%- include('../partials/header'); %>
    </header>
    <%- include('../partials/nav-bar') %>

    <main class="main-content">
        <section class="section-container">
                <div class="section-container-inner">
                    <form class="form-show-data-rows"  action="/users/edit/<%= user.id %>?_method=PATCH" method="POST">
                        <input class='input-type-text' type='text' name="firstName" value="<%= user.first_name %>">
                        <input class='input-type-text' type='text' name="lastName" value="<%= user.last_name %>">
                        <input class='input-type-text' type='text' name="email" value="<%= user.email %>">
                        <input class='input-type-text' type='tel' name="phone" value="<%= user.phone %>">
                        <div class="form-select-container">
                            <label for="profile" class="label-text">Perfil:</label>
                            <select name="profile" class="input-type-text" name="profile">
                                <option value="1">Administrador</option>
                                <option value="0">Cliente</option>
                            </select>
                        </div>
                        <div class="form-button-container">
                            <a href="/users" class="link-form-button">Cancelar</a>
                            <button class="button-standar" type="submit" value="">Guardar cambios</button>
                        </div>
                    </form>
                </div>
        </section>
    </main>

    <footer class="nav-footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>