<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <header class="nav-header">
        <%- include('../partials/header'); %>
    </header>
    <%- include('../partials/nav-bar') %>

    <main class="main-content">
        <section class="section-container">
                <div class="section-container-inner">
                    <form class="form-show-data-rows"  action="/users/edit/<%= user.id %>" method="POST">
                        <input class='input-type-text' type='text' name="first_name" value="<%= user.first_name %>">
                        <input class='input-type-text' type='text' name="last_name" value="<%= user.last_name %>">
                        <input class='input-type-text' type='text' name="email" value="<%= user.email %>">
                        <input class='input-type-text' type='tel' name="phone" value="<%= user.phone %>">
                        <div class="form-select-container">
                            <label for="admin" class="label-text">Perfil:</label>
                            <select name="admin" class="input-type-text">
                                <option value="1">Administrador</option>
                                <option value="0">Cliente</option>
                            </select>
                        </div>
                        <div class="form-button-container">
                            <a href="/users" class="link-form-button">Cancelar</a>
                            <button class="button-standar" type="submit" value="">Guardar cambios</button>
                        </div>
                    </form>
                </div>
        </section>
    </main>

    <footer class="nav-footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>