<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <header class="nav-header">
        <%- include('../partials/header'); %>
    </header>
    <%- include('../partials/nav-bar') %>

    <main class="main-content">
        <section class="section-container">
            <div class="section-container-inner">
                <% users.forEach(function(user) {%>
                    <div class="cards-list">
                        <div class="user-card">
                            <img class="user-profile-card" src="<%=user.image%>"></img>
                            <div class="user-data">
                                <p><%=user.firstName%></p>
                                <p><%=user.profile%></p>
                                <p><%=user.email%></p>
                            </div>
                            <form action='/users/delete/<%= user.id %>' method='post'>
                                <button type="submit" class="action-button">
                                    <span class="material-icons-outlined icon-button-delete">
                                        delete_forever
                                    </span>
                                </button>
                            </form>
                            <form action='/users/edit/<%= user.id %>' method='GET'>
                                <button type="submit" class="action-button">
                                    <span class="material-icons-outlined icon-button-edit">
                                        edit
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                <%})%>
            </div>
        </section>
    </main>

    <footer class="nav-footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>