<%-include('../partials/head') %>
<body class="home-edit">
    <div class="grid-container-home">
    <header class="nav-header">
        <%-include('../partials/header') %>
    
    </header>

  <%-include('../partials/nav-bar') %>
</div>

    <main class="main-content">
        
        <section class="section-container-edit"> 
            <div class="title-edit">
            <p>Edicion de producto</p>
            <hr class="home-hr">
        </div>
                    <form class="form-show-data-rows"  action="/products/edit/<%= product.id %>" method="POST">
                        <div class="form-select-container">
                            <label for="name" class="label-text">Nombre:</label>
                            <input class='input-type-text' type='text' name="name" value="<%= product.name %>"  required>
                        </div>
                        <div class="form-select-container">
                            <label for="description" class="label-text">Descripcion:</label>
                            <input class="input-type-text" type="text" name="description" value="<%= product.description %>">
                        </div>
                        <div class="form-select-container">
                            <label for="offer" class="label-text">Oferta:</label>
                            <select name="offer" class="input-type-text">
                                <option value="1">Sí</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div class="form-select-container">
                            <label for="discount" class="label-text">Descuento:</label>
                            <select name="discount" class="input-type-text">
                                <option value="1">Sí</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div class="form-select-container">
                            <label for="price" class="label-text">Precio:</label>
                            <input class='input-type-text' type='text' name="price" value="<%= product.price %>" required>
                        </div>
                        <div class="form-select-container">
                            <label for="stock" class="label-text">Stock:</label>
                            <input class="input-type-text" type="number" name="stock" value="<%= product.stock %>">
                        </div>
                        <div class="form-select-container">
                            <label for="id_category" class="label-text">Cat(id):</label>
                            <input class='input-type-text' type='number' name="id_category" value="<%= product.id_category %>" required>
                        </div>
                        <div class="form-select-container">
                            <label for="id_brand" class="label-text">Marca:</label>
                        <input class='input-type-text' type='number' name="id_brand" value="<%= product.id_brand %>">
                        </div>
                        <div class="form-button-container">
                            <a href="/products" class="link-form-button">Cancelar</a>
                            <button class="button-standar" type="submit" value="">Guardar cambios</button>
                        </div>
                    </form>
                    <div class="form-button-container">
                        <form class="form-show-data-rows"   action='/products/delete/<%= product.id %>' method='POST'>
                        <button class="button-standar-warning" type="submit" value="">Borrar producto</button>
                        </form>
                    </div>
        </section>
    </main>

    <footer class="nav-footer">
        <%-include('../partials/footer') %>
    </footer>

    </body>
    </html>
