<%-include('../partials/head') %>
<body class="home-edit">
    <div class="grid-container-home">
    <header class="nav-header">
        <%-include('../partials/header') %>
    
    </header>

  <%-include('../partials/nav-bar') %>
</div>
    <main class="main-content">
        <section class="section-container">
                <div class="section-container-inner">
                    <form class="form-show-data-rows"  action="/products/edit/<%= productToEdit.id %>?_method=PATCH" method="POST">
                        <input class='input-type-text' type='text' name="name" value="Nombre: <%= productToEdit.name %>">
                        <input class='input-type-text' type='text' name="category" value="Categoria: <%= productToEdit.category %>">
                        <input class='input-type-text' type='text' name="description" value="Descripcion: <%= productToEdit.description %>">
                        <input class='input-type-text' type='text' name="brand" value="Marca: <%= productToEdit.brand %>">
                        <input class='input-type-text' type='text' name="offer" value="Oferta: <%= productToEdit.offer %>">
                        <input class='input-type-text' type='text' name="discount" value="Descuento: % <%= productToEdit.discount %>">
                        <input class='input-type-text' type='text' name="price" value="Precio $<%= productToEdit.price %>">
                        <input class='input-type-text' type='text' name="image" value="Imagen: <%= productToEdit.image %>">
                        <img src="<%= productToEdit.image %>" alt="">
                        <div class="form-button-container">
                            <a href="/products" class="link-form-button">Cancelar</a>
                            <button class="button-standar" type="submit" value="">Guardar cambios</button>
                        </div>
                        
                    </form>
                    <div class="form-button-container">
                        <form class="form-show-data-rows"   action='/products/delete/<%= productToEdit.id %>?_method=DELETE' method='POST'>
                        <button class="button-standar-warning" type="submit" value="">Borrar producto</button>
                        </form>
                    </div>
                </div>
        </section>
    </main>

    <footer class="nav-footer">
        <%-include('../partials/footer') %>
    </footer>

    </body>
    </html>
