<!DOCTYPE html>
<html lang="en">

 <%- include('../partials/head'); %>

<body class="body-productDetail">
  <header class="nav-header">
    <%- include('../partials/header') %>
  </header>
  <main>
    <div class="hola">
      <div class="primer">
        <div class="imagen">
          <div class="products-1">

            <div class="box-prod">
              <div class="product1">
                <img class="product-img" src= <%=product.image %>
                  alt="Foto de producto">
              </div>
            </div>

            <div class="box-prod">
              <div class="product1">
                <img class="product-img" src= <%=product.image %>
                  alt="Foto de producto">
              </div>
            </div>

            <div class="box-prod">
              <div class="product1">
                <img class="product-img" src= <%=product.image %>
                  alt="Foto de producto">
              </div>
            </div>

            <div class="box-prod">
              <div class="product1">
                <img class="product-img" src= <%=product.image %>
                  alt="Foto de producto">
              </div>
            </div>
          </div>

          <div class="prod">
            <img class="logoPerrito" src= <%=product.image %> alt="logo de ferreteria">
          </div>
        </div>
        <div class="primero">
          <p class="nombre"><%=product.name %></p>
          <p class="precio"><%=product.price %></p>
          <div class="cant">
            <i class="fas fa-plus-circle"></i>
            <input class="cantidad">
            <i class="fas fa-minus-circle"></i>
          </div>
          
            <div class="cont">
              <p class="titulo">Especif. Tecnicas
              <i class="fas fa-caret-down"></i></p>
            
              <div class="especif">
                <p class="texto">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </div>
            </div>

            <div class="cont">
              <p class="titulo">Descripcion
              <i class="fas fa-caret-down"></i></p>
              <div class="desc">
                <p class="texto">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
            </div>
            
        
         <div class="add-carrito">
           <a class="add-prodCart" href="/productCart">Añadir al Carrito</a>
           <i class="fas fa-cart-plus"></i>
         </div>
        </div>
      </div>


      <div class="title">
        <p class="detProd">Productos relacionados</p>
      </div>
      <section class="seccion">
        <div class="products2">
          <!-- <div class="arrow-left"><i class="fas fa-angle-left"></i></div>
          <div class="arrow-right"><i class="fas fa-angle-right"></i></div> -->
          <% productosRelacionados.forEach(function(product){ %>
          <article class="art">
            <div class="produc">
              <img class="product-img" src= <%=product.image %>
                alt="Foto de producto">
              <div class="box-text-off">
                <p><%=product.offer %></p>
              </div>
              <p class="prize-through"><%=product.price %></p>
              <div class="box-prize-off">
                <p><%=product.price %></p>
                <p><%=product.discount %></p>
              </div>
              <p class="product-footer"><%=product.name %></p>
            </div>
          </article>
          <% }) %>
          <!-- <article class="art2">
            <div class="produc1">
              <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp"
                alt="Foto de producto">
              <div class="box-text-off">
                <p>Oferta del dia</p>
              </div>
              <p class="prize-through">$2750</p>
              <div class="box-prize-off">
                <p>$1750</p>
                <p>30% OFF</p>
              </div>
              <p class="product-footer">Hacha de mano Cabo de madera 600grs.</p>
            </div>
          </article>

          <article class="art3">
            <div class="produc1">
              <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp"
                alt="Foto de producto">
              <div class="box-text-off">
                <p>Oferta del dia</p>
              </div>
              <p class="prize-through">$2750</p>
              <div class="box-prize-off">
                <p>$1750</p>
                <p>30% OFF</p>
              </div>
              <p class="product-footer">Hacha de mano Cabo de madera 600grs.</p>
            </div>
          </article>

          <article class="art4">
            <div class="produc1">
              <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp"
                alt="Foto de producto">
              <div class="box-text-off">
                <p>Oferta del dia</p>
              </div>
              <p class="prize-through">$2750</p>
              <div class="box-prize-off">
                <p>$1750</p>
                <p>30% OFF</p>
              </div>
              <p class="product-footer">Hacha de mano Cabo de madera 600grs.</p>
            </div>
          </article> -->

        </div>
      </section>
    </div>
  </main>
  <footer class="nav-footer">
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>