<html>
    <%- include('../partials/head'); %>
<body class="body-home">
    <div class="grid-container-home">
        <header class="nav-header">
           <%- include('../partials/header') %>
        </header>

        <%- include('../partials/nav-bar') %>
     </div>

     <!-- <div class="nav-bar-list">
        <p>Filtar por</p>
        <ul>
            <li>Precio</li>
            <li>Marca</li>
        </ul>
    </div> -->
    <main class="main-content">
 
         <article class="products-list">
            <% products.forEach(function(product,index){ %>
                <div class="box-products <%= index %>" >
                    <div class="product" >
                        <a class="link-product"href="/products/detail/<%= product.id %>">
                        <img class="product-img" src="<%= product.image %>" alt="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp">
                    </a>
                        <div class="box-text-off">
                            <%if(product.offer == 1){%>
                            <p>Oferta del dia</p>
                           <%}%>
                            </div>
                        <p><%=product.name %></p>
                        <% if(product.offer) { %>
                       <p class="prize-through"><%= product.price %></p>
                       <% } %>
                       <div class="box-prize-off">
                           <% if (product.offer){ %>
                       <p>$<%= Math.trunc(product.price * (desc(product.discount))) %></p>
                       <p class='off-number'>%<%= product.discount %></p>
                       <%}else{%>
                        <p class='finally-prize'>$<%=product.price%></p>
                        <% } %>
                       </div>
                       <p class="product-footer"><%=product.description %></p>
                    </div>
                 </div>
                 
                 <% }) %>        
    </main>
    <footer class="nav-footer">
        <%-include('../partials/footer') %>
    </footer>
  
</body>
</html>