<html>
    <%- include('../partials/head'); %>
<body class="grid-container">
    <header class="nav-header">
        <%- include('../partials/header'); %>
    </header>
    <%- include('../partials/nav-bar') %>
    <main class="nav-main">
        
              <!-- <main class="main-home"> -->
         <article class="products-list">
            <% products.forEach(function(product,index){ %>
                <div class="box-products <%= index %>" >
                    <div class="product" >
                        <img class="product-img" src= <%= product.image %> alt="Foto de producto">
                        <div class="box-text-off">
                            <p>Oferta del dia</p>
                            </div>
                        <p><%=product.name %></p>
                       <p class="prize-through"><%=product.price %></p>
                       <div class="box-prize-off">
                       <p><%=product.price %></p>
                       <p><%=product.discount %></p>
                       </div>
                       <p class="product-footer"><%=product.description %></p>
                    </div>
                 </div>
                 <% }) %>
        
    </main>
 
    <footer class="nav-footer">
        <%-include('../partials/footer') %>
    </footer>
  
</body>
</html>