<!DOCTYPE html>
<html lang="en">

 <%- include('../partials/head'); %>

<body class="body-productDetail">

  <div class="grid-container-home">
    <header class="nav-header">
        <%-include('../partials/header') %>
    
    </header>

  <%-include('../partials/nav-bar') %>
</div>

  <main>
    <div class="hola">
      <div class="primer">
        <div class="imagen">
        

          <div class="prod">
            <img class="logoPerrito" src= <%=product.image %> alt="logo de ferreteria">
          </div>
        </div>
        <div class="primero">
          <p class="nombre"><%=product.name %></p>
          <p class="precio">$<%=product.price %></p>
          
            <div class="cont">
              <p class="titulo">Descripcion </p>
              <p class="titulo"><%= product.description%></p>
            
              <div class="especif">
                <p class="texto"><Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.></p>
              </div>
            </div>

            
        
         <div class="add-carrito">
           <a class="add-prodCart" href="/products/productCart">Añadir al Carrito</a>
           <i class="fas fa-cart-plus"></i>
         </div>
        </div>
      </div>


      <div class="title">
        <p class="detProd">Productos relacionados</p>
      </div>
      <section class="seccion">
       
       
        <article class="art2">
            <div class="produc1">
              <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_939171-MLA44829814741_022021-W.jpg"
                alt="Foto de producto">
              <div class="box-text-off">
                <p>Oferta del dia</p>
              </div>
              <p class="prize-through">$1.000</p>
              
              <div class="box-prize-off">
                <p>30% OFF</p>
             
                <p>$700</p>

               
              </div>
              <p class="product-footer">Poxiran-Adhesivo Contacto de 225 Gr</p>
            </div>
          </article>

          <article class="art3">
            <div class="produc1">
              <img class="product-img" src="https://edgardoperez.com.ar/wp-content/uploads/2021/01/tornillo-t2-punta-aguja.jpg"
                alt="Foto de producto">
              <div class="box-text-off">
                <p>Oferta del dia</p>
              </div>
              <p class="prize-through">$100</p>
              <div class="box-prize-off">
                <p>30% OFF</p>
                <p>$70</p>
               
              </div>
              <p class="product-footer">Tornillo T2 Aguja 6X1 N 200 Bl-xxxxxxxx</p>
            </div>
          </article>
          <article class="art4">
            <div class="produc1">
              <img class="product-img" src="https://boschstore.com.mx/wp-content/uploads/2019/08/06016230G4-1.png"
                alt="Foto de producto">
              <div class="box-text-off">
                <p>Oferta del dia</p>
              </div>
              <p class="prize-through">$10.000</p>
              <div class="box-prize-off">
                <p>30% OFF</p>
                <p>$7.000</p>
              </div>
              <p class="product-footer">Sierra Circular 1500W</p>
            </div>
          </article> 

        </div>
      </section>
    </div>
  </main>
  <footer class="nav-footer">
    <%- include('../partials/footer'); %>
  </footer>
  <script src="../../js/home.js"></script>
</body>

</html>