<html>
    <%- include('../partials/head'); %>
<body class="body-home">
    <div class="grid-container-home">
        <header class="nav-header">
           <%- include('../partials/header') %>
        </header>

        <%- include('../partials/nav-bar') %>
     </div>

     <div class="nav-bar-list">
        <p>Filtar por</p>
        <ul>
            <li>Precio</li>
            <li>Marca</li>
        </ul>
    </div>
    <main class="main-content">
 
         <article class="products-list">
            <% Product.forEach(function(product,index){ %>
                <div class="box-products <%= index %>" >
                    <div class="product" >
                        <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp" alt="Foto de producto">
                        <div class="box-text-off">
                            <p>Oferta del dia</p>
                            </div>
                        <p><%=product.name %></p>
                       <p class="prize-through"><%=product.price %></p>
                       <div class="box-prize-off">
                       <p><%=product.price %></p>
                       <p><%=product.discount %></p>
                       </div>
                       <p class="product-footer"><%=product.description %></p>
                    </div>
                 </div>
                 
                 <% }) %>        
    </main>

<div class="nav-footer-list">
    <div>1 de 10</div>
    <button class="button-standar">Siguiente</button>
</div>
 
    <footer class="nav-footer">
        <%-include('../partials/footer') %>
    </footer>
  
</body>
</html>